{#- -*- engine: django -*- -#}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Crail</title>
        {%- set css = [
            'bootstrap/dist/css/bootstrap.css',
            'bootstrap/dist/css/bootstrap-theme.css'
        ] %}
        {%- for filename in css %}
        <link rel="stylesheet"
              href="{{ url_for('bower.static', filename=filename) }}">
        {% endfor %}
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            {% include 'login.html' %}
            {% include 'game.html' %}
            {% include 'world.html' %}
            {% include 'content.html' %}
        </div>
        {% include 'gain.html' %}
        {% include 'spend.html' %}
        {% include 'discard.html' %}
        {% include 'contract.html' %}
        {% include 'contract-confirm.html' %}
        {% include 'contract-discard.html' %}
        {%- set js = [
            'jquery/dist/jquery.js',
            'bootstrap/dist/js/bootstrap.js',
            'underscore/underscore.js',
            'js-cookie/src/js.cookie.js',
        ]
        %}
        {%- for filename in js %}
        <script src="{{ url_for('bower.static', filename=filename) }}"></script>
        {%- endfor %}
        <script src="{{ url_for('static', filename='crail.js') }}"></script>
    </body>
</html>
