{# -*- engine: django -*- #}
<div class="panel panel-default hidden" id="login-page">
    <div class="panel-heading">
        <h2>Who are you?</h2>
    </div>
    <div class="panel-body">
        <form id="login-form">
            <div class="form-group">
                <label for="login-name">Your name</label>
                <input type="text" class="form-control" id="login-name"
                       placeholder="Arthur, King of the Britons">
            </div>
            <a role="button" href="#" id="login-submit" class="btn btn-default">Submit</a>
        </form>
    </div>
</div>
